#sad_Robot{
    width: 530px;
    height: 590px;
    background-image: url(https://i.pinimg.com/originals/07/dc/94/07dc94be9c06e4d7a55bd9769a1f7561.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}